@{
    ViewData["Title"] = "Home Page";


}   <div class="text-center">
    <h1> <span class="badge bg-secondary"> Почему ''ni**er'' является проявлением расизма и оскорблением?</span></h1>
</div>

<div class="text-left">

    <h3 itemprop="name headline"> Почему афро-американцы в США называют друг друга ни**ерами, но при этом обижаются, когда их так называет белый?></h3>

    <h4 itemprop="name headline">
        Это не просто слово, а напоминание. Ещё их дедушка, если речь идет про
        южные штаты, ходил в отдельные кафе и туалеты «для цветных» и занимал соответствующие места в
        автобусе. А дедушка их дедушки ещё был, вполне возможно, рабом. И его называли «ни**ером». >
    </h4>

    <h4 itemprop="name headline">
        Н*гра  —
        уничижительно-ласкательное сленговое обозначение человека негроидной расы. Изначально
        было предназначено для обхода табуированных выражений, вырезающих слова типа «ni**er»
        и его вариантов.

        В США термины для обозначения темнокожего населения эволюционировали следующим
        образом: Negro «негр», Darkie «темнушка», Colored «цветные», Black «чёрные»,
        African American «афроамериканец». Характерной особенностью терминологии США
        является постепенное исчезновение заимствованных из испанского терминов для
        обозначения людей смешанного происхождения (мулаты, квартероны и др.), употреблявшихся
        в XIX веке. Слова «нигга», «ниггер» и др. продолжают употреблять внутри
        афро-американской среды. Американцы, особенно на юге страны, также широко
        используют эти выражения в быту; однако темнокожим населением такое обращение
        теперь обычно воспринимается как оскорбительное.

    </h4>

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">

        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner">

                <div class="carousel-item active">
                    <img src="https://avatars.mds.yandex.net/get-zen_doc/196027/pub_5bb747ffad289e00ac6bf91e_5bb74812aeb34f00a931643a/scale_1200" class="d-block w-100" alt="...">
                </div>

                @*<div class="carousel-item">
                        <img src="https://funik.ru/wp-content/uploads/2018/12/5b2a140f049ea4992ca4.jpg" class="d-block w-100" alt="...">
                    </div>*@

                <div class="carousel-item">
                    <img src=" http://4.bp.blogspot.com/--B-_nQEBAp4/UG9UwEsBYyI/AAAAAAAABsM/xfnIEjd7hcQ/s1600/408671_10151080897168215_608647223_n.jpg" class="d-block w-100" alt="...">
                </div>

                @*<div class="carousel-item">
                        < class="d-block w-100" alt="...">
                    </div>*@

                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden"></span>
                </a>

                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden"></span>
                </a>

            </div>

            <h4 itemprop="name headline">
                Есть такое понятие - рекультивация. Это культурный процесс, посредством которого
                группа восстанавливает термины или артефакты, которые ранее использовались таким
                образом, чтобы пренебрежительно относиться к этой группе.

                Восстановленное или повторно присвоенное слово - это слово, которое когда-то
                было уничижительным, но было возвращено в приемлемое использование, начиная с сообществ.
                Т.е. слово, уничижительное для группы - считается приемлемым только в рамках этой группы.
                Еврей может назвать свой альбом - "Вечный жид", но если этнический русский будет называть
                жидовкой свою соседку-еврейку, это не будет считаться нормальным.

                Таких примеров масса. Культура, язык, табуированная лексика - все это очень
                сложно. Особенно когда ты не живешь в США, например, не сталкиваешься с подобным сленгом,
                не видишь скрытых смыслов. Но вроде бы ситуация со словом "ниггер"
                известна достаточно широко. Так что это ужасный фэйл, с моей точки зрения.


            </h4>

            <div class="container2">

                <div>
                    <h2 itemprop="name headline">
                        Хотите общаться с представителями негроидной расы? Мы можем организовать разговор, или даже встречу.
                        Но есть одна деталь, большиство ваших будущих собеседников не знает русский язык...
                    </h2>
                </div>

                <form class="decor">
                    <div class="form-left-decoration"> </div>

                    <div class="form-right-decoration"> </div>

                    <div class="circle"> </div>
                    <div class="form-inner">
                        <h3>Желам приятного общения!</h3>

                        <input type="text" placeholder="Ваш телефон">
                        <input type="email" placeholder="email">

                        <textarea placeholder="Сообщение" rows="3">
                            </textarea>

                        <input type="submit" value="Отправить">
                    </div>
                </form>

                <div class="text-center">

                    <h4 itemprop="name headline">
                        Афроамериканцы - это вполне достойные члены общества, которые, ровно так же, как и мы,
                        не выбирали с каким цветом родиться и тп. Прежде всего, есть несколько советов и правил
                        для культурного общения, касаемого темы взаимосвязи и открытого диалога:
                    </h4>

                    <table width="900" cellpadding="5" cellspacing="0">
                        <tr>
                            <td width="280">
                                I
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h4 class="card-title">Культура</h4>
                                        <p class="card-text">Отноститься, как к равным к себе. Никто не лучше;</p>
                                    </div>
                                </div>
                            </td>

                            <td width="550">
                                II
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h4 class="card-title">Чувства</h4>
                                        <p class="card-text">
                                            Развивать положительные эмоции в собеседнике. Человеческий мозг может выдать
                                            ответную реакцию в виде оскорбления (используем выражения, противоположные по значению.
                                            НЕ надо так -> следует действовать иначе);
                                        </p>
                                    </div>
                                </div>
                            </td>

                            <td width="280">
                                III
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h4 class="card-title">Добродетели</h4>
                                        <p class="card-text">
                                            Помогать в развитии тех или иных положительных качеств.
                                        </p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <h3 itemprop="name headline">
                        Вы также можете пожертвовать деньги, тем самым помочь в решении проблемы доступности образования в России
                    </h3>

                    <iframe width="560"
                            height="315"
                            src="https://www.youtube.com/embed/W905s12vVEE"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                    </iframe>
                </div>

                <div>
                    <div class="answer handle_hovers" id="answer8987123">
                        <div class="body rad5">
                            <div class="shadow rad4">
                                <div class="border in_answer rad4_tl rad4_tr">
                                    <div class="second_border in_answer">
                                        <div class="right">
                                            <div class="vote_control">
                                                <div class="clear"></div>
                                            </div>

                                        </div>

                                        <div class="left">
                                            <noindex>
                                                <div class="user_avatar">
                                                    <img src="//www.gravatar.com/avatar/ffbd8d6f297ba39392f708eb6997246d?s=42&amp;d=identicon&amp;1">
                                                </div>

                                                <div class="user_info">

                                                    <a href="/profile544681/" class="l user_name_link" id="answer8987123_author">
                                                        Омар Лютик&shy;<wbr>ов
                                                        [16.6K]
                                                    </a>

                                                    <div class="time_asked" title="2018-09-12 01:06:24">
                                                        3 года назад
                                                    </div>
                                                </div>

                                                <div class="clear"></div>
                                            </noindex>
                                        </div>
                                        <div class="clear"></div><div class="message context_hrefs_allowed">
                                            <p>Как обозначение расы в физической антропологии, как понятие и термин, словосочетание "н*гроидная раса" не является проявлением неполиткорректности. Поскольку это понятие, термин. </p>

                                            <p class="empty"></p>

                                            <p>Проявлением расизма будет употребление именно слова "н*гр" в масс-медийной, публичной среде. Верхом расизма будет произнесение этого слова в определённом контексте, когда кто-нибудь будет ставить выше свою расу, и выводить своё суждение из чего-либо, не зависящего от самого человека (раса, пол и т. д.). </p>

                                            <p class="empty"></p>

                                            <p>Политкорректность делает упор на человеческой индивидуальности, напоминая людям о том, что не раса, пол, нация или что-то подобное, играет решающую роль, а сам человек, его личностные, индивидуальные качества, то, как человек выстраивает свою жизнь. </p>
                                        </div>

                                    </div>
                                </div>

                                <noindex>
                                    <div class="link_panel rad4_bl rad4_br">
                                        <div class="link_panel_menu">
                                            <div class="links">
                                                <div class="text-center">
                                                    <span class="permalink si rad6 handle_hovers" 
                                                          title="постоянная ссылка на этот ответ">
                                                          <a href="http://www.bolshoyvopros.ru/questions/3046457-mozhno-li-nazvanie-negroidnoidnoj-rasy-schitat-projavleniem-rasizma.html">
                                                          ссылка
                                                          </a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </noindex>

                            </div>

                        </div>

                        <div class="replies empty" id="replies_answer8987123">

                        </div>

                        @*<img src="https://rozmarin43.ru/wp-content/uploads/2021/01/business-meeting.jpg" class="img-fluid" alt="...">*@
                    </div>

                    <div class="otzivi">
                        <img src="https://sun9-9.userapi.com/impg/o-bVupqZDngBRAE5pNvYCVIe33x6XxT6qFFamA/f-e1nli-wqg.jpg?size=448x475&quality=96&sign=ec3d21a391f20caf171c173a662ea018&type=album" alt="avatar">
                        <p><span>Киану Ривз </span> г. Москва </p>
                        <p>
                            Спасибо большое автору сайта за старания, долгих лет жизни. Не знал, как общаться с
                            афроамериканцами, но теперь знаю. Всегда хотел хорошо провести время в комании новых
                            друзей. Организовали всё быстро, большое спасибо. Это большой опыт в общении для меня.
                        </p>
                    </div>

                    <div class="otzivi">
                        <img src="https://sun9-62.userapi.com/impg/_p_abRLj5OKsy-i5EzS9yoNRq53tG9hvVYkAqQ/Xiu1Mlxz7YE.jpg?size=594x691&quality=96&sign=bbd77f71e2a518319f5d816d3e0fd73b&type=album" alt="avatar">
                        <p><span>Чжань Ванцзи Ханьгуан-цзюнь </span> г. Воронеж</p>
                        <p>
                            Отвратительная компания, не обращайтесь в нее!!!
                            Честный отзыв, есть договор и есть фото, можем доказать!!!
                            Обманули как мамонта! Пойдём писать заявление в полицию!
                            ( новый отзыв: действительно, хорошие условия. Я тоже не против с ним сотрудничать. Автор удали гитхаб)
                        </p>
                    </div>

                    <div class="otzivi">
                        <img src="https://sun9-40.userapi.com/impg/iO0emg2PuZNx3zehmKXlVLDZ3qNBX4UY3s1m7w/RJ9XxCpSC6Y.jpg?size=594x691&quality=96&sign=8670058de472fceb24a26e6868969d7c&type=album" alt="avatar">
                        <p><span>Делрой Линдо</span> г. Вашингтон</p>
                        <p>
                            Не думал, что русские такие добрые. Сейчас большинство американцев думают, что у них медведи
                            ходят под рукой и бабалайка всесто мозгов, но благодаря создателю сайта я теперь знаю,
                            что русские - это вполне достойные люди, умеющие высказать всё аргументированное мнение
                            не только на своём языке.
                        </p>
                    </div>

                    <div class="skyrim">
                        <img src="https://gamerbay.ru/wp-content/uploads/2021/08/maxresdefault-5.jpg">
                        <iframe src="https://store.steampowered.com/widget/1746860/626104/" frameborder="0" width="646" height="190">
                        </iframe>
                    </div>

                    <p>
                        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Дополнительные материалы
                        </a>
                        <input type="text" list="planets">
                        <datalist id="planets">
                            <option value="Куплю сегодня"></option>
                            <option value="Куплю завтра"></option>
                            <option value="Куплю послезавтра"></option>
                            <option value="Куплю никогда"></option>
                            <option value="Куплю когда-нибудь"></option>
                            <option value="Может быть куплю"></option>
                        </datalist>
                    </p>

                    <div class="collapse" id="collapseExample">

                        <div class="card card-body">
                            https://www.youtube.com/watch?v=3bQ9-bxuQVk
                            https://www.youtube.com/watch?v=EAw0UOmFnXI
                            https://zen.yandex.ru/media/tsm/temnaia-storona-shokolada-kak-rabotaet-odin-iz-samyh-jestokih-i-raschetlivyh-biznesov-v-mire-6182ba3dff55770413424a4e
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
