@{
    ViewData["Title"] = "О проекте";
}
<h1>@ViewData["Title"]</h1>

<p>Вывод: давайте быть дружелюбными и , как минимум, человечными. Каждый человек- это личность, которая заслуживает 
    хорошее отношение, в зависимоти от того, какой вклад в развитие общества он вложил. </p>
