@{
    ViewData["Title"] = "О проекте";
}
<h1>@ViewData["Title"]</h1>

<p>не позволим каким-то не*рам оскорбляться! долой расизм и лгбт движение! внедряем свою политику общение с такими индивидами. </p>
